*, html {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    padding-top: 20px;
    padding-bottom: 20px;
}

.lista-items{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 40px;
    font-weight: 600;
}

.nav-item, h3{
    color: white;
    text-decoration: none;
}

.nav-item:hover{
    cursor: pointer;
}


.titulo{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}
.titulo:hover {
    cursor: default;
}